
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    <style>
        body{
            background:violet;
        }

    </style>
    </head>
    <body>
        
        <h2>HOME PAGE</h2>
        
    <a href="{% url 'userlogin' %}" class="btn btn-danger">Logout</a>

        
        <script src="" async defer></script>
    </body>
</html>